<div class="mainContents">
  <div class="headContents">
    <h1>メモアプリ</h1>
  </div>
    <form action="/memo/new" method="POST">
      <div class="newMemo">
        <input type="text" name="title" required>
        <textarea name="contents"></textarea>
        <button type="submit">登録</button>
      </div>
    </form>
</div>
