<form action="/memo/new" method="POST">
  <div>
    <label>タイトル</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>内容</label>
    <textarea name="contents"></textarea>
  </div>
  <button type="submit">登録</button>
</form>
