<div>
  <form action="/memo/<%= @memo["id"] %>/edit" method="GET">
    <h2><%= @memo["title"] %></h2>
    <h3><%= @memo["contents"] %></h3>
    <button>編集</button>
  </form>
</div>
<div>
  <form action="/memo/<%= @memo["id"] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">削除</button>
  </form>
</div>
