<h2><%= @memo["title"] %></h2>
<h3><%= @memo["contents"] %></h3>
<div>
  <form action="/memo/<%= @memo["id"] %>/edit" method="GET">
    <button>編集</button>
  </form>
</div>
<div>
  <form action="/memo/<%= @memo["id"] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit", value="削除">
  </form>
</div>
