/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

body {
  background-color: #EEEE;
  font-family:'メイリオ';
}

.mainContents {
  width: 980px;
  height: 650px;
  margin: 20px auto 20px auto;
  background-color: white;
}

.headContents {
  width: 980px;
  height: 70px;
  display: flex;
  align-items: center;
}

.headContents button {
  margin-left: 400px;
}

.memoList {
  width: 580px;
  height: 550px;
  font-size: 25px;
  margin: 10px 200px 0px 200px;
  overflow: auto;
}

.memoList a {
  margin: 20px 0px 20px 0px;
  width: 540px;
}

.newMemo {
  width: 880px;
  height: 550px;
  margin: 10px 50px 0px 50px;
}

.newMemo input {
  height: 50px;
  width: 400px;
  margin: 0px 240px 0px 240px;
}

.newMemo button {
  margin: 0px 390px 0px 390px;
}

.newMemo textarea {
  height: 400px;
  width: 400px;
  margin: 20px 240px 20px 240px;
  font-family:'メイリオ';
}

.footContents {
  width: 300px;
  margin: 0px 290px 0px 290px;
  display: flex;
}

.footContents button {
  margin: 0 25px 0 25px ;
}

input,textarea {
  display: block;
  background-color: #CCCCCC;
  font-size: 25px;
}

h1 {
  height: 48px;
  width: 200px;
  line-height: 48px;
  font-size: 40px;
  margin-left: 100px;
}

button {
  height: 48px;
  width: 100px;
  line-height: 48px;
  font-size: 30px;
}

ul {
  list-style:disc;
  padding-left: 40px;
}

a {
  font-size: 25px;
  display: block;
}

p {
  font-size: 25px;
}

#memoTitle {
  height: 50px;
  width: 400px;
  margin: 0px 240px 0px 240px;
}

#memoContents {
  height: 350px;
  width: 400px;
  margin: 20px 240px 20px 240px;
}